<?xml version="1.0"?>
<config>
    <global>
        <models>
            <vinaikopp_jsmessages>
                <class>VinaiKopp_JsMessages_Model</class>
            </vinaikopp_jsmessages>
            <!-- NOTE: the core/message_collection model is rewritten dynamically on the frontend only -->
        </models>
        <blocks>
            <vinaikopp_jsmessages>
                <class>VinaiKopp_JsMessages_Block</class>
            </vinaikopp_jsmessages>
            <!-- NOTE: the core/messages block is rewritten dynamically on the frontend only -->
        </blocks>
        <models>
            <vinaikopp_jsmessages>
                <class>VinaiKopp_JsMessages_Model</class>
            </vinaikopp_jsmessages>
        </models>
        <helpers>
            <vinaikopp_jsmessages>
                <class>VinaiKopp_JsMessages_Helper</class>
            </vinaikopp_jsmessages>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <vinaikopp_jsmessages>
                        <type>singleton</type>
                        <class>vinaikopp_jsmessages/observer</class>
                        <method>controllerActionPredispatch</method>
                    </vinaikopp_jsmessages>
                </observers>
            </controller_action_predispatch>
            <controller_front_send_response_before>
                <observers>
                    <vinaikopp_jsmessages>
                        <type>singleton</type>
                        <class>vinaikopp_jsmessages/observer</class>
                        <method>controllerFrontSendResponseBefore</method>
                    </vinaikopp_jsmessages>
                </observers>
            </controller_front_send_response_before>
            <controller_front_send_response_after>
                <observers>
                    <vinaikopp_jsmessages>
                        <type>singleton</type>
                        <class>vinaikopp_jsmessages/observer</class>
                        <method>controllerFrontSendResponseAfter</method>
                    </vinaikopp_jsmessages>
                </observers>
            </controller_front_send_response_after>
        </events>
        <layout>
            <updates>
                <vinaikopp_jsmessages>
                    <file>vinaikopp/jsmessages.xml</file>
                </vinaikopp_jsmessages>
            </updates>
        </layout>
    </frontend>
</config>
